<!-- ============== -->
<!--   Error Page -->
<!-- ============== -->

<%- include ('partials/headerForLoginAndRegister') %>

  <!-- Main -->
  <main class="lg:w-2/3 w-full md:h-2/3 h-auto flex justify-center items-center flex-col bg-gray-100 lg:mt-5 md:mt-3 mt-1 py-10 lg:rounded-md rounded-none mx-auto">
    <h1 class="w-full lg:text-3xl md:text-2xl sm:text-xl text-lg lg:font-extrabold font-bold text-center text-gray-600">404 Error</h1>
    <h2 class="w-full lg:text-xl md:text-lg sm:text-base text-sm lg:font-bold text-semibold text-center text-gray-600">Page not found!!</h2>
  </main>
  <%- include('partials/footer') %>