<!-- ======================== -->
<!--   Forgot Password for Author Page -->
<!-- ======================== -->

<%- include ('partials/headerForLoginAndRegisterForCollege') %>

<!-- Main Tag -->
<main class="w-full h-full flex justify-center items-center flex-col bg-gray-300">

  <% if(typeof message !=='undefined' ) { %>
  <div class="md:w-6/12 w-8/12 flex justify-between items center flex-row text-gray-600 md:text-base sm:text-sm text-xs bg-white absolute top-20 md:p-2 p-1 md:px-4 px-2 rounded-md shadow-md message_to_user_div">
    <h1 class="w-auto italic font-medium message_to_user">
      <%= message %>
    </h1>
  </div>
  <% } %>

  <div class="lg:w-80 md:w-72 w-64 flex justify-center items-center flex-col absolute md:top-60 top-40 p-2 bg-gray-100 md:rounded-md rounded-sm">
    <h2 class="md:font-bold font-semibold lg:text-lg md:text-base text-sm text-gray-700 mb-5">
      Please write your Mobile Number below (with your Country Code):
    </h2>

    <form action="/api/forgotPasswordForCollege" method="POST" class="w-full flex md:justify-between md:items-center items-start md:flex-row flex-col">
      <input type="text" name="mobileInputData" class="w-8/12 rounded-md md:p-2 p-1 md:mb-0 mb-1 bg-white outline-none shadow-lg" placeholder="+91-9078XX45XX" />
      <button type="submit" class="w-3/12 md:font-bold font-semibold lg:text-lg md:text-base text-sm bg-blue-600 text-white rounded-md md:p-2 p-1 md:mb-0 mb-2 outline-none cursor-pointer shadow-md hover:bg-green-700">
        Send
      </button>
    </form>
  </div>
</main>

<!-- Script Tag -->
<script>
  let message_to_user_div = document.querySelector('.message_to_user_div');

  setTimeout(function() {
    message_to_user_div.style.display = 'none';
  }, 3000);
</script>
<%- include('partials/footer') %>