<!-- ========================= -->
<!--   Privacy & Policy Page -->
<!-- ========================= -->

<%- include ('partials/headerForLoginAndRegister') %>

  <main
    class="max-w-full lg:w-[19rem] h-auto flex justify-center items-center flex-col rounded-md text-black p-28 bg-gray-300">
    <h2>Privacy Policy</h2>
  </main>

  <%- include('partials/footer') %>