<div class="w-full flex justify-center items-center" style="height: 15rem;">
    <!-- User message from backend  -->
    <h1
        class="hidden lg:text-base md:text-sm text-xs lg:font-semibold font-medium text-green-600 bg-white border border-green-600 absolute lg:top-7 md:top-44 sm:top-36 top-28 sm:p-2 p-1 md:rounded-md sm:rounded-sm rounded message_to_user">
    </h1>

    <!-- Register -->
    <div
        class="w-full flex justify-center items-center bg-gray-200 text-white p-4 lg:rounded-lg md:rounded-md sm:rounded-sm rounded lg:shadow-xl md:shadow-lg shadow-md border border-gray-300">
        <form class="w-full flex justify-center items-center flex-col form1">
            <div class="w-full flex md:justify-center justify-start items-center">
                <h1 class="w-full lg:font-extrabold md:font-bold font-semibold md:text-base text-sm text-blue-800">
                    Upload Question Papers</h1>
            </div>
            <div class="w-full flex justify-center items-center mt-2">
                <p class="w-full flex text-black font-light md:text-sm text-xs" id="zipFileHeader">
                    Please upload question paper here(zip file only):
                </p>
            </div>
            <div class="w-full flex justify-center items-center mt-2">
                <input type="text" name="title"
                    class="w-full flex justify-center items-center bg-white text-black md:text-sm text-xs lg:py-1 p-2 pl-2 lg:my-0.5 rounded-sm question_paper_pdf_file"
                    placeholder="Enter filename..." required />
            </div>
            <div class="w-full flex justify-between items-center flex-row mt-2">
                <input type="text" name="board"
                    class="w-full flex justify-center items-center bg-white text-black md:text-sm text-xs lg:py-1 p-2 pl-2 lg:my-0.5 rounded-sm question_paper_pdf_file"
                    placeholder="Enter Board/University Name..." required />


            </div>
            <div class="w-full flex justify-between items-center md:flex-row flex-col mt-2">
                <select name="board_or_university"
                    class="md:w-2/5 w-full md:mt-0 mt-2 text-black md:p-1 sm:p-1 p-2 sm:text-sm text-xs focus:outline-none border border-gray-500 rounded"
                    id="board_or_university">
                    <option value="">Please choose 10th/12th/University</option>
                    <option value="10th">10th</option>
                    <option value="12th">12th</option>
                    <option value="University">University</option>
                </select>
                <select name="states_and_uts"
                    class="md:w-2/5 w-full md:mt-0 mt-2 text-black md:p-1 sm:p-1 p-2 sm:text-sm text-xs focus:outline-none border border-gray-500 rounded"
                    id="states_and_uts">
                    <option value="">Please choose State or UT</option>
                    <option value="Andaman and Nicobar Islands">
                        Andaman and Nicobar Islands
                    </option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadra and Nagar Haveli and Daman & Diu">
                        Dadra and Nagar Haveli and Daman & Diu
                    </option>
                    <option value="Delhi">Delhi </option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu & Kashmir">Jammu & Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Ladakh">Ladakh</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Puducherry">Puducherry</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="West Bengal">West Bengal</option>
                </select>
                
            </div>
            <div class="w-full flex justify-center items-center mt-2">
                <input type="file" name="filename"
                    class="w-full flex justify-center items-center bg-white text-black md:text-sm text-xs lg:py-1 p-2 pl-2 lg:my-0.5 rounded-sm cursor-pointer question_paper_pdf_file"
                    required />
            </div>
            <div class="w-full flex justify-between items-center font-semibold mt-2">
                <button type="submit"
                    class="lg:w-5/12 md:w-4/12 w-3/12 inline-block md:font-bold font-semibold md:text-sm text-xs bg-blue-800 text-white hover:bg-blue-700 p-1 rounded-sm outline-none cursor-pointer">
                    Upload
                </button>
                <p class="lg:w-6/12 md:w-6/12 w-8/12 font-semibold text-center md:text-sm text-xs text-black p-1"><span
                        id="msgSent"></span></p>
            </div>
        </form>
    </div>

</div>
<script>
    // Uploading Question Papers Form
    const form1 = document.querySelector('.form1');

    form1.addEventListener('submit', (e) => {
        e.preventDefault();

        const name = form1[0].value;
        const board_name = form1[1].value;
        const board_or_university = form1[2].value;
        const states_or_uts = form1[3].value;
        const question_paper = form1[4].files[0];

        const formData = new FormData();
        formData.append("name", name.trim());
        formData.append("board_name", board_name.trim());
        formData.append("states_or_uts", states_or_uts.trim());
        formData.append("board_or_university", board_or_university.trim());
        formData.append("question_paper", question_paper);

        const messageFunc = (message) => {
            document.querySelector('.message_to_user').style.display = 'flex';

            if (message === 'Question Paper is successfully uploaded!') {
                document.querySelector('.message_to_user').innerHTML = message;
                setTimeout(function () {
                    document.querySelector('.message_to_user').style.display = 'none';
                }, 3000);
            } else if (message === 'Question Paper is required.') {
                document.querySelector('.message_to_user').innerHTML = message;
                setTimeout(function () {
                    document.querySelector('.message_to_user').style.display = 'none';
                }, 3000);
            } else {
                document.querySelector('.message_to_user').innerHTML = message;
                setTimeout(function () {
                    document.querySelector('.message_to_user').style.display = 'none';
                }, 3000);
            }
        }

        if (formData !== undefined || formData !== null || formData !== '') {

            async function uploadingQuestionPaperByAdmin_Func(formData) {
                try {
                    const options = {
                        method: 'POST',
                        mode: "no-cors",
                        body: formData,
                    };
                    await fetch("/api/uploadingQuestionPaperByAdmin", options)
                        .then((response) => response.json())
                        .then(obj => {
                            if (obj.message === "Question Paper is successfully uploaded!") {
                                messageFunc('Question Paper is successfully uploaded!');
                            } else if (obj.message === "Question Paper is required.") {
                                messageFunc('Question Paper is required.');
                            } else {
                                messageFunc('Question Paper upload has failed!');
                            }
                        }
                        )
                } catch (error) {
                    console.log("This is the error in uploadingQuestionPaper.ejs > uploadingQuestionPaperByAdmin", error)
                }
            }
            uploadingQuestionPaperByAdmin_Func(formData);
        }

        form1[0].value = '';
        form1[1].value = '';
        form1[2].value = '';
        form1[3].value = '';
        form1[4].value = '';
    });
</script>